# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#Terraform dependency lock
.terraform.lock.hcl
.terraform

Variable Values
*.tfvars

#eks-cluster-access-secret
argocd-eks-cluster-access-secret.yaml
config.json
config.b64
aws-auth.yaml
argocd-eks-cluster-access-secret-2.yaml